* + table {
  border-style:solid;
  border-width:1px;
  border-color:#303438;
}

* + table th, * + table td {
  border-style:solid;
  border-width:1px;
  border-color:#303438;
  padding-left: 5px;
  padding-right: 5px;
}

* + table th {
  border-style:solid;
  font-weight:bold;
  background: url("/images/noise.png?42424242") repeat scroll left top;
}

* + table th[align="left"], * + table td[align="left"] {
  text-align:left;
}

* + table th[align="right"], * + table td[align="right"] {
  text-align:right;
}

* + table th[align="center"], * + table td[align="center"] {
  text-align:center;
}
