@include font-face("GeosansLight", font-files("fonts/GeosansLight.ttf", truetype));

$sans: "GeosansList", sans-serif;
$serif: "GeosansLight", serif;
$mono: "Source Code Pro", monospace;
$heading-font-family: "Roboto Slab", serif;
$header-title-font-family: "Orbitron", sans-serif;
$header-subtitle-font-family: "Roboto Slab", serif;
